<header class="header">
    <div class="header__left">
        <span class="header__appname">{{appName}}</span>
        <span *ngIf="username" class="header__user-name">Hi, {{username}}</span>

        <ul class="header__menu">
            <ng-container *ngFor="let item of menu">
                <li class="header__menu-link-wrapper">
                    <a href="{{item.link}}" class="header__menu-link">{{item.name}}</a>
                </li>
            </ng-container>

            <ng-container *ngIf="username; then logoutBlc; else loginBlc"></ng-container>

            <ng-template #logoutBlc>
                <li class="header__menu-link-wrapper">
                    <a href="#" class="header__menu-link" (click)="$event.preventDefault(); onLogout()">Logout</a>
                </li>
            </ng-template>

            <ng-template #loginBlc>
                <li class="header__menu-link-wrapper">
                    <a href="#" class="header__menu-link" (click)="$event.preventDefault(); openLoginModal()">Login</a>
                </li>
            </ng-template>
        </ul>
    </div>
    <app-cart-list 
        (updateProductData)="updateProductData($event)"
        (removeCartProducts)="removeCartProducts()"
    ></app-cart-list>
</header>