<header class="header">
    <div class="header__left">
        <span class="header__appname">{{appName}}</span>
        <ul class="header__menu">
            <ng-container *ngFor="let item of menu">
                <li class="header__menu-link-wrapper">
                    <a 
                        routerLink="{{item.link}}" 
                        class="header__menu-link" 
                        routerLinkActive="header__menu-link--active">
                        {{item.name}}
                    </a>
                </li>
            </ng-container>

            <ng-container *ngIf="!username">
                <li class="header__menu-link-wrapper">
                    <a href="#" class="header__menu-link" (click)="$event.preventDefault(); openLoginModal()">Login</a>
                </li>
            </ng-container>
        </ul>

        <ng-container *ngIf="username">
            <span *ngIf="username" class="header__user-name">Hi, {{username | uppercase}}</span>
            <a href="#" class="header__menu-link" (click)="$event.preventDefault(); onLogout()">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </a>
        </ng-container>
    </div>
    <app-cart-list></app-cart-list>
</header>