<h1 class="text-center">Admin Products</h1>
<hr class="title-divider"/>

<div class="d-flex admin-products__wrap admin-products__wrap--top">
    <button class="admin-products__back" (click)="goBack()">< Back</button>
    <button class="admin-products__back" routerLink="add">Add product</button>
</div>

<div class="admin-products">
    <div class="admin-products__wrap admin-products__wrap--white">
        <ng-container *ngFor="let product of products">
            <app-admin-dashboard-item 
                [data]="product"
                (editItem)="onEdit($event)">
            </app-admin-dashboard-item>
        </ng-container>
    </div>
</div> 