@blueColor: hsla(200, 97%, 45%, 1);

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    img {
        max-width: 100%;
    }

    &__img {
        flex: 50px 0 0;
        margin-right: 20px;
    }

    &__product-name {
        font-weight: 600;
        text-decoration: underline;
        margin: 0;
    }

    &__desc {
        flex: auto 1 1;
    }

    &__remove{
        border: none;
        background: none;
        text-align: center;
        width: auto;
        padding: 0;
        margin: 5px auto;
        text-decoration: underline;
        display: block;
        color: #777;

        &:hover {
            color: #000;
            cursor: pointer;
        }
    }

    &__change-qty {
        border: 0;
        background: #fff;
        font-weight: bold;
        padding: 5px 10px;

        &:hover, &:focus {
            background: #eee;
        }

        &:focus {
            outline: none;
        }
    }

    &__qty {
        margin: 5px;
    }

    &__qty-box {
        border: 1px solid #777;
        border-radius: 30px;
        font-size: 16px;
        overflow: hidden;
    }


    &__err-msg {
        text-align: right;
        display: block;
        margin-top: 5px;
        color: #f57c00;
    }
}

.d-flex {
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;

    .item {
        flex-basis: 50%;
    }
}