<div class="cart-item" [appHighlight]="'#f2f2f2'">
    <div class="cart-item__img">
        <img src="{{product.imgSrc}}" alt="">
        <button class="cart-item__remove" (click)="removeItem()">Remove</button>
    </div>
    <div class="cart-item__desc">
        <p class="cart-item__product-name">{{product.name}}</p>
        <div class="d-flex">
            <span class="items">Quantity:</span>
            <span class="items">
                <div class="cart-item__qty-box">
                    <button (click)='decreaseQty()' class="cart-item__change-qty">-</button>
                    <span class="cart-item__qty">{{product.quantity}}</span>
                    <button (click)='increaseQty()' class="cart-item__change-qty">+</button>
                </div>
            </span>
        </div>
        <span *ngIf="disableMaxQtyErr" class="cart-item__err-msg">Max stock Quantity is {{maxProductQty}}</span>
        <div class="d-flex">
            <span class="items">Price:</span>
            <span class="items">{{product.price | currency:"USD":"symbol"}}</span>
        </div>
    </div>
</div>