<div class="d-flex admin-order-item">
    <div class="admin-order-item__col">
        <div class="admin-order-item__title">
            <ng-container *ngIf="hideLink; then hrefTmpl; else btnTempl"></ng-container>

            <ng-template #hrefTmpl>
                <div><span>Order #{{data.id}}</span></div>
            </ng-template>
            <ng-template #btnTempl>
                <button [routerLink]="['/admin/order', data.id]" class="admin-order-item__title-link">Order #{{data.id}}</button>
            </ng-template>
            <div><span>{{data.username}}</span></div>
        </div>

        <div class="admin-order-item__totals">
            <div *ngIf="data.closed">
                <span class="admin-order-item__green">Closed</span>
            </div>

            <div>
                <span>Total Sum: </span>
                <span>{{data.totalPrice | currency:"USD":"symbol"}}</span>
            </div>
        </div>
    </div>
    <div class="admin-order-item__col">
        <div class="admin-order-item__title">
            <span>Payment</span>
        </div>
        <div>
            <span>Payment Type: </span>
            <span>{{data.paymentType}}</span>
        </div>
        <div *ngIf="data.paymentComplete">
            <span class="admin-order-item__green">Payment Complete</span>
        </div>
    </div>
    <div class="admin-order-item__col">
        <div class="admin-order-item__title">
            <span>Address</span>
        </div>
        <div>
            <span class="admin-order-item__adress-line">{{data.address.country}}</span>
        </div>
        <div>
            <span class="admin-order-item__adress-line">{{data.address.city}}</span>
        </div>
        <div>
            <span class="admin-order-item__adress-line">{{data.address.street}}, {{data.address.appartments}}</span>
        </div>
    </div>
</div>
