<div class="d-flex admin-dashboard-item">
    <div>
        <div class="admin-dashboard-item__title">
            <span>Order #{{data.id}}</span>
            <div><span>{{data.username}}</span></div>
        </div>

        <div class="admin-dashboard-item__totals">
            <div *ngIf="data.closed">
                <span class="admin-dashboard-item__green">Closed</span>
            </div>

            <div>
                <span>Total Sum: </span>
                <span class="order-page__total">{{data.totalPrice | currency:"USD":"symbol"}}</span>
            </div>
        </div>
    </div>
    <div>
        <div class="admin-dashboard-item__title">
            <span>Payment</span>
        </div>
        <div>
            <span>Payment Type: </span>
            <span class="order-page__total">{{data.paymentType}}</span>
        </div>
        <div *ngIf="data.paymentComplete">
            <span class="admin-dashboard-item__green">Payment Complete</span>
        </div>
    </div>
    <div>
        <div class="admin-dashboard-item__title">
            <span>Address</span>
        </div>
        <div>
            <span class="order-page__total">{{data.address.country}}</span>
        </div>
        <div>
            <span class="order-page__total">{{data.address.city}}</span>
        </div>
        <div>
            <span class="order-page__total">{{data.address.street}}, {{data.address.appartments}}</span>
        </div>
    </div>
</div>
