<h1 class="text-center">Admin Orders</h1>
<hr class="title-divider"/>

<div class="d-flex admin-orders__wrap admin-orders__wrap--top">
    <button class="admin-orders__back" (click)="goBack()">< Back</button>
</div>

<div class="admin-orders">
    <div class="admin-orders__wrap admin-orders__wrap--white">
        <ng-container *ngIf="orders.length; then ordersList; else ordersEmpty"></ng-container>

        <ng-template #ordersList>
            <ng-container *ngFor="let order of orders">
                <app-admin-order-item 
                    [data]="order">
                </app-admin-order-item>
            </ng-container>
        </ng-template>

        <ng-template #ordersEmpty>
            No created orders
        </ng-template>
    </div>
</div>

