@import './shared/styles/_variables.less';

.container { 
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.title-divider {
    margin: 10px auto 30px;
    background: @mainDecor;
    width: 150px;
    height: 5px;
    border: none;
    border-radius: 10px;
}
