<div class="cart">
    <button class="cart__button" (click)="toglePopover()">
        <span class="cart__button-text">Cart</span>
        <img class="cart__button-img" src="https://cdn0.iconfinder.com/data/icons/shopping-cart-26/1000/Shopping-Basket-03-512.png"/>
        <span class="cart__qty">{{totalQty}}</span>
    </button>
    <div class="cart__popover" [ngClass]="{hidden: !isVisiblePopover}">
        <h3 class="cart__title">Cart</h3>

        <div *ngIf="totalQty > 0">
            <button class="cart__remove" (click)="removeAllItems()">Remove all</button>
        </div>
        
        <div *ngFor="let product of products">
            <app-cart-item 
                [product]="product"
                (removeCartItem)="removeCartItem($event)"
                (decreaseItemQty)="decreaseItemQty($event)"
                (increaseItemQty)="increaseItemQty($event)"
                >
            </app-cart-item>
        </div>

        <div *ngIf="totalQty > 0; then productCardContainer; else emptyCard"></div>
        <ng-template #emptyCard>
            <span>Your cart is empty</span>
        </ng-template>

        <ng-template #productCardContainer>
            <div class="cart__total">
                <span>{{totalPrice | currency:"USD":"symbol"}}</span>
            </div>
        </ng-template>
    </div>
</div>