<div class="container">
    <h1 class="text-center">Place Order</h1>
    <hr class="title-divider"/>

    <div class="order-page">
        <form [formGroup]="orderForm" (submit)="onSubmit()">
            <div class="d-flex order-page__form">
                <div class="d-flex__item">
                    <div class="order-page__form-part">
                        <h3 class="text-center order-page__form-title">Contact Information</h3>
                        <label class="app-field__wrapper">
                            <div class="app-field__wrap-horizontall">
                                <p>Name</p>
                                <input type="text" id="name" formControlName="name" class="app-field">
                            </div>

                            <div class="app-field__error" *ngIf="isControlInvalid('name')">
                                Field is required
                            </div>
                        </label>
                        <label class="app-field__wrapper">
                            <div class="app-field__wrap-horizontall">
                                <p>Phone</p>
                                <input type="tel" id="phoneNumber" formControlName="phoneNumber" class="app-field">
                            </div>

                            <div class="app-field__error" *ngIf="isControlInvalid('phoneNumber')">
                                Field is required
                            </div>
                        </label>
                    </div>

                    <div class="order-page__form-part">
                        <h3 class="text-center order-page__form-title">Payment Information</h3>

                        <ng-select 
                            [items]="paymentItems"
                            class="app-field__select"
                            bindLabel="name"
                            bindValue="id"
                            (change)="changePaymentMethod()"
                            [searchable]=false
                            [clearable]=false
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="selectedPayment">
                        </ng-select>
                    </div>
                </div>

                <div class="d-flex__item">
                    <div class="order-page__form-part">
                        <h3 class="text-center order-page__form-title">Delivery Information</h3>
                        <label class="app-field__wrapper">
                            <div class="app-field__wrap-horizontall">
                                <p>Country</p>
                                <input type="text" id="country" formControlName="country" class="app-field">
                            </div>

                            <div class="app-field__error" *ngIf="isControlInvalid('country')">
                                Field is required
                            </div>
                        </label>
                        <label class="app-field__wrapper">
                            <div class="app-field__wrap-horizontall">
                                <p>City</p>
                                <input type="text" id="city" formControlName="city" class="app-field">
                            </div>

                            <div class="app-field__error" *ngIf="isControlInvalid('city')">
                                Field is required
                            </div>
                        </label>
                        <label class="app-field__wrapper">
                            <div class="app-field__wrap-horizontall">
                                <p>Street</p>
                                <input type="text" id="street" formControlName="street" class="app-field">
                            </div>

                            <div class="app-field__error" *ngIf="isControlInvalid('street')">
                                Field is required
                            </div>
                        </label>
                        <label class="app-field__wrapper">
                            <div class="app-field__wrap-horizontall">
                                <p>Appartements</p>
                                <input type="text" id="appartments" formControlName="appartments" class="app-field">
                            </div>

                            <div class="app-field__error" *ngIf="isControlInvalid('appartments')">
                                Field is required
                            </div>
                        </label>
                    </div>
                </div>
            </div>

            <div class="order-page__table">
                <div class="order-page__table-content" [ngClass]="{hidden: totalQty === 0}">
                    <div *ngIf="totalQty > 0" class="order-page__remove-wrap">
                        <span>Products in your order:</span>
                    </div>
                    
                    <div *ngFor="let product of products">
                        <app-cart-row 
                            [editable]="false"
                            [product]="product">
                        </app-cart-row>
                    </div>
                </div>
        
                <div class="d-flex order-page__bottom">
                    <div class="order-page__bottom-label">
                        <span>Total</span>
                    </div>
                    <div class="d-flex order-page__bottom-data">
                        <div>
                            <span>Sum: </span>
                            <span class="order-page__total">{{totalPrice | currency:"USD":"symbol"}}</span>
                        </div>

                        <div>
                            <span>Quantity: </span>
                            <span class="order-page__total">{{totalQty}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="order-page__action-wrap" *ngIf="products.length">
                <button class="order-page__shop-action" type="submit" [disabled]= "orderForm.invalid">Submit order</button>
            </div>
        </form>
    </div>

</div>