.box-shadow (@string) {
    -webkit-box-shadow: @string rgba(156,156,156,1);;
    -moz-box-shadow: @string rgba(156,156,156,1);;
    box-shadow: @string rgba(156,156,156,1);;
}

.hidden {
    display: none;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
    width: 100%;
}
