<div class="card">
    <app-availability-flag [isAvailable]="data.isAvailabile && data.stockQty > 0"></app-availability-flag>
    <div class="card__img-box">
        <img class="card__img" [src]=data.imgSrc alt="">
    </div>
    <div class="card-description">
        <h2 class="card__title">{{data.name}}</h2>
        <div class="card__description" *ngIf="data.description">
            <p>{{data.description}}</p>
        </div>
        <div class="d-flex" *ngIf="data.category">
            <span>Category:</span>
            <span>{{data.category}}</span>
        </div>
        <div class="d-flex">
            <span>Price:</span>
            <span>
                <ng-container *ngIf="data.price; then priceData; else emptyPrice"></ng-container>
                <ng-template #priceData>{{data.price}} $</ng-template>
                <ng-template #emptyPrice>--</ng-template>
            </span>
        </div>

        <div>
            <button class="card__action" 
                (click)="onBuy()"
                [disabled]= "!data.isAvailabile || data.stockQty === 0">
                Buy
            </button>
        <div>

        <div class="d-flex card__qty-limit" *ngIf="data.stockQty <= 5 && data.stockQty > 0">
            <span>Limited Qty:</span>
            <span>{{data.stockQty}}</span>
        </div>

        <div class="card__tags" *ngIf="data.tags">
            <span *ngFor="let tag of data.tags; let last = last;">#{{tag}}<ng-container *ngIf="!last">, </ng-container></span>
        </div>
    </div>
</div>