@import '../../shared/styles/mixins/box-shadow.less';

@btnColor: hsla(200, 97%, 45%, 1);

.d-flex {
    justify-content: space-between;
    margin-top: 5px;

    .item {
        flex-basis: 50%;
    }
}

.card {
    .box-shadow(-2px 4px 5px 0px);
    border: 1px solid #eee;
    margin: 10px;
    padding: 20px;
    position: relative;

    &__img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }

    &__img-box {
        height: 300px;
        overflow: hidden;
    }

    &__title {
        text-align: center;
    }

    &__tags {
        border-top: 1px solid #eee;
        margin-top: 20px;
        padding-top: 20px;
    }

    &__action {
        width: 100%;
        background: @btnColor;
        border: 0;
        box-shadow: 0;
        border-radius: 20px;
        text-align: center;
        color: #fff;
        padding: 10px;
        margin-top: 20px;
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
            background-color: darken(@btnColor, 7%);
            cursor: pointer;
        }

        &:focus {
            outline: none;
            background-color: darken(@btnColor, 14%);
        }

        &:disabled {
            background-color: #777;
            pointer-events: none;
        }
    }

    &__qty-limit {
        margin-top: 20px;
        color: #b71c1c;
        font-weight: 600;
    }
}

:host {
    flex-basis: 25%;
    display: flex;
    align-items: stretch;
}
