@import '../../shared/styles/_variables.less';
@import '../../shared/styles/mixins/box-shadow.less';

@btnColor: @mainDecor;

.d-flex {
    justify-content: space-between;

    & + & {
        margin-top: 10px;
    }

    .item {
        flex-basis: 50%;
    }
}

h2 {
    font-size: 24px;
}

.card {
    .box-shadow(0 4px 5px 0px);
    border: 1px solid @gray0;
    margin: 10px;
    padding: 20px;
    position: relative;
    width: 100%;
    background: #fff;

    &__img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }

    &__img-box {
        height: 300px;
        overflow: hidden;
    }

    &__title {
        text-align: center;
        margin: 20px 0;
    }

    &__title-link {
        font-size: 24px;
        color: @mainDark;
        text-decoration: none;

        &:hover, &:focus {
            color: @mainDecor;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__tags {
        border-top: 1px solid @gray0;
        margin-top: 20px;
        padding-top: 20px;
    }

    &__action-box {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        flex-wrap: wrap;
    }

    &__qty-field-wrapper {
        flex: 30% 0 0;
        padding-right: 10px;
        display: block;
    }

    &__qty-field {
        width: 100%;
        padding: 10px;
        display: block;
        border-radius: 30px;
        box-shadow: none;
        border: 1px solid #777;
        text-align: center;

        &:hover, &:focus {
            border-color: @mainDark;
            outline: none;
        }
    }

    &__action {
        flex: 70% 1 1;
        background: @btnColor;
        border: 0;
        box-shadow: none;
        border-radius: 20px;
        text-align: center;
        color: #fff;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
            background-color: darken(@btnColor, 7%);
            cursor: pointer;
        }

        &:focus {
            outline: none;
            background-color: darken(@btnColor, 14%);
        }

        &:disabled {
            background-color: #777;
            pointer-events: none;
        }
    }

    &__qty-limit {
        margin-top: 20px;
        color: @red;
        font-weight: 600;
    }

    &__like-btn {
        color: @gray1;
        box-shadow: none;
        background: none;
        border: 0;
        font-size: 24px;

        &:hover, &:focus {
            color: @mainDark;
            outline: none;
            cursor: pointer; 
        }
    }

    &__like-box {
        position: absolute;
        top: 15px;
        left: 10px;
    }
}

:host {
    flex-basis: 25%;
    display: flex;
    align-items: stretch;

    @media only screen and (max-width: 1024px) {
        flex-basis: 50%;
    }

    @media only screen and (max-width: 600px) {
        flex-basis: 100%;
    }
}
