@import '../mixins/box-shadow.less';

@flagBorderWidth: 20px;
@availableOnColor: green;

.flag-availability{
    border: @flagBorderWidth solid transparent; 
    border-right: @flagBorderWidth solid @availableOnColor;
    position: absolute;
    top: 0;
    right: 0;
}

.card {
    .box-shadow(-2px 4px 5px 0px);
    border: 1px solid #eee;
    margin: 0 10px 10px;
    padding: 20px;
    position: relative;

    &__img {
        max-width: 100%;
    }

    &__img-box {
        height: 300px;
        overflow: hidden;
    }

    &__title {
        text-align: center;
    }

    &__tags {
        border-top: 1px solid #eee;
        margin-top: 20px;
        padding-top: 20px;
    }
}


.d-flex {
    justify-content: space-between;

    .item {
        flex-basis: 50%;
    }
}

:host {
    width: 25%;
    display: block;
}
