<div class="card">
    <div *ngIf="isAvailabile">
        <div class="flag-availability"></div>
    </div>
    <div class="card__img-box">
        <img class="card__img" src="https://electronoff.ua/images/goods/large/kondensator-keramicheskij-mnogoslojnyj-200pf-50v-npo-5-10sht-1.jpg" alt="">
    </div>
    <div class="card-description">
        <h2 class="card__title">{{name}}</h2>
        <div><p class="card__description">{{description}}</p></div>
        <div class="d-flex">
            <span>Category:</span>
            <span>{{category}}</span>
        </div>
        <div class="d-flex">
            <span>Price:</span>
            <span>{{price}} $</span>
        </div>

        <div class="d-flex" *ngIf="bundleItems">
            <div class="item">Bundle items:</div>
            <div class="item text-right">
                <div *ngFor="let item of bundleItems;">{{item}}</div>
            </div>
        </div>

        <div class="card__tags" *ngIf="tags">
            <span *ngFor="let tag of tags; let last = last;">#{{tag}}<ng-container *ngIf="!last">, </ng-container></span>
        </div>
    </div>
</div>